@media all and (min-width: 1001px) {
	#imageDeJeu {
		float:right;
		margin-right: 20px;
		text-align: right;
	}

}

@media all and (max-width: 1000px) {
	#imageDeJeu {
		margin: 20px;
		text-align: center;
	}
}

#imageDeJeu img {
	max-width:500px;
	max-height:300px;
	height: auto;
	width:auto;
}

#titre {
	text-align: center;
	color: #cc0000;
	font-family: "Open Sans";
	font-size: 24pt;
}
