@media all and (min-width: 1001px) {
	#jeuInfos {
		float: right;
	}
	#imageDeJeu {
		margin-right: 20px;
		text-align: right;
	}

}
#imageDeJeu img {
	max-width:500px;
	max-height:300px;
	height: auto;
	width:auto;
}

@media all and (max-width: 1000px) {
	#imageDeJeu {
		margin: 20px;
		text-align: center;
	}
	#imageDeJeu img {
		max-width:100%;
	}
}

#titre {
	text-align: center;
	color: #cc0000;
	font-family: "Open Sans";
	font-size: 24pt;
}

#informations_jeu {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 20px;
}
.info_desc {
	color: #fe8fca;
	font-weight: bold;
}
.info_val {
	color: #5cc1ef;
	font-weight: normal;
}
#criteres_jeu {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5cc1ef;
}
@media all and (max-width: 700px) {
	#informations_jeu {
		float: initial;
		margin-right: 0px;
	}
}
#informations_jeu h1 {
	margin-top: 0px;
	font-family: "Gwibble";
	text-align: center;
	color: #feb146;
}

#bouton_reserver {
	background-color: #aeea4d;
	border-radius: 5px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 15pt;
}
#bouton_plusDeStock {
	background-color: #fd6c64;
	border-radius: 5px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 15pt;
}
#bouton_date_pas_dispo{
	background-color: #ffa32c;
	border-radius: 5px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 15pt;
}
