/* ======= */
/* POLICES */
/* ======= */

/* Police Open Sans, lien google font pour + de rapidité et de compatibilité */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');

/* Ajout d'une police pour le logo */
@font-face {
	font-family: 'FFF_Tusj';
	src: url(media/font/FFF_Tusj.ttf);
}
@font-face {
	font-family: 'Gwibble';
	src: url(media/font/gwibble.ttf);
}


/* --------------------------------------------------------- */


html, body {
	margin: 0;
	padding: 0;
	background-color: #cccccc;
}

/* Fixation du footer en bas de page */
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Open Sans";
}

.bold {
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	color: #cc0000;
}

hr{
	border: 0;
  height: 1px;
  background: #cccccc;
}


/* --------------------------------------------------------- */


/* Contenu de toute la page, permet de fixer le footer en bas, même si la page est plus courte que l'écran */
#main {
	background-color: white;
	flex: 1;
	/* C'est pas très propre d'utiliser la fonction calc, mais nous n'avons pas trouvé mieux pour fixer le footer en bas de la page :
			En effet, avec le header qui est fixé en haut et qui prend une certaine hauteur dans la page, nous ne pouvons pas dire que notre page doit au minimum faire 100% de la hauteur de l'écran (100vh) pour fixer en bas le footer, sinon, une scrollbar apparait sur les pages où le contenu ne prend pas toute la hauteur de l'écran (à cause du header qui prend environ 170px en plus sur le contenu).
	*/
	min-height: calc(100vh - 170px);
}
@media all and (max-width: 750px) {
	#main{
		/* On adapte la taille minimale de la page par rapport à la hauteur du footer */
		min-height: calc(100vh - 400px);
	}
}
#pageContent {
	background-color: white;
}
#contentLayer {
    display: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}


/* --------------------------------------------------------- */

/* ====== */
/* ICONES */
/* ====== */

@font-face {
  font-family: "Flaticon";
  src: url("media/font/Flaticon.eot");
  src: url("media/font/Flaticon.woff") format("woff"),
       url("media/font/Flaticon.ttf") format("truetype"),
       url("media/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.flaticon-back:before {
	content: "\f100";
}
.flaticon-error:before {
	content: "\f102";
}
.flaticon-heart:before {
	content: "\f103";
}
.flaticon-house:before {
	content: "\f104";
}
.flaticon-magnifying-glass:before {
	content: "\f105";
}
.flaticon-next:before {
	content: "\f106";
}
.flaticon-success:before {
	content: "\f108";
}
.flaticon-shopping-cart:before {
	content: "\f107";
}
.flaticon-circle:before {
	content: "\f101";
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
}



/* --------------------------------------------------------- */

/* ==== */
/* MENU */
/* ==== */

/* Barre du menu */
#header {
	position: fixed;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	top: 0px;
	width: 100%;
	background-color: #cc0000;
	box-shadow: 0px 1px 5px 0px #656565;
}
#header ul {
	margin-right: 20px;
	line-height: 20px;
	font-family: "Open Sans";
}
#header ul a{
	color: white;
	text-decoration: none;

}
#header li {
	display: inline;
	font-size: 18pt;
	margin: 16px;
	padding: 4px;
}



#header li.actif a{
	color: white;
	padding-bottom: 1px;
	border-bottom: solid 1px;
}


#header li:hover a {
	color: black;
}



#header .separator {
	color: white;
}
#header #hamburger {
	cursor: pointer;
	display: block;
	top: 0;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-top: auto;
}
#header #hamburger div{
	background-color: #fff;
	height: 4px;
	width: 40px;
	margin-top: 4px;
}
#titreMenu {
	margin-top: 7px;
	margin-left: 20px;
}
#titreMenu a{
	color: white;
	font-family: Gwibble;
	text-decoration: none;
	font-size: 35pt;
}

@media all and (max-width: 1000px) {
	#header ul{
		display: none;
	}
}
@media all and (min-width: 1001px) {
	#header #hamburger{
		display: none;
	}
}

#menu-hamburger {
	display: none;
	position: fixed;
	opacity: 0;
	background-color: #bbbbbb;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	z-index: 0;
}
#menu-hamburger ul {
	list-style: none;

}
#menu-hamburger li {
	font-family: "Open Sans";
	font-size: 15pt;
}
#menu-hamburger li:hover a {
	color: black;
}
#menu-hamburger li.active a {
	color: gray;
}
#menu-hamburger li a {
	text-decoration: none;
	color: #cc0000;
}
#titreHamburger {
	text-align: center;
	padding: 9px;
	border-bottom: 1px solid gray;
}
#titreHamburger a {
	font-family: "Gwibble";
	font-size: 28pt;
	text-decoration: none;
	color: #cc0000;
}


/* Ouverture et fermeture du menu hamburger */
.open {
	transform: translate(-200px, 0);
	transition-duration: 300ms;
}
.close {
	transform: translate(0px, 0);
	transition-duration: 300ms;
}


/* --------------------------------------------------------- */

/* ========== */
/* HIERARCHIE */
/* ========== */
#hierarchie {
	display: flex;
	margin-top: 70px;
	margin-left: 50px;

}
#hierarchie a {
	text-decoration: none;
	color: #cc0000;
}
#hierarchie ul {
	display: inline-block;
	background-color: #e4e4e4;
    	border-radius: 10px;
    	padding: 20px;
}

@media all and (max-width: 1000px) {
	#hierarchie {
		margin-left: 0px;
     	justify-content: center;
	}
}

#hierarchie li {
	display: inline-block;
	font-family: "Open Sans";
	font-size: 15pt;
	color: #cc0000;
}


#hierarchie .separator:after {
	content: ">";
	color: #999999;
	font-size: 20px;
}
@media all and (max-width: 400px) {
	#hierarchie ul {
		border-radius: 0px;
		width: 100%;
		text-align: center;
	}
	#hierarchie li{
		display: list-item;
		list-style: none;
		overflow: hidden;
		margin-left: -20px;
		text-align: center;
	}
	#hierarchie .separator:after {
		content: "V";
	}
}

h2.WARNING{
	margin-top: 80px;
	text-align: center;
	font-family: "Open Sans";
	font-weight: bold;
	color: #cc0000;
}


/* --------------------------------------------------------- */

/* ======= */
/* CONTENU */
/* ======= */

#content {
	background-color: white;
	font-family: "Open Sans";
	margin: 50px;
}
@media all and (max-width: 500px) {
	#content {
		margin-left: 20px;
		margin-right: 20px;
	}
}


#page404 {
	text-align:center;
	display:block;
	margin-top: 80px;
}
#page404 img {
	width: 100%;
	max-width: 800px;
	height: auto;
}

/* --------------------------------------------------------- */

/* ========= */
/* SLIDESHOW */
/* ========= */

#slideshow {
	margin-top: 100px;
}
.slide {
	display: none;
}
img.slide {
	object-fit: none; /* Ne pas redimensionner l'image */
	margin-top: 40px;
	width: 100%;
	height: 200px;
}
.slideButton{
	position: absolute;
	top: 180px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	font-size: 20pt;
	cursor: pointer;
	padding-left: 23px;
}
.slideButton:hover{
	color: #cc0000;
}
#slideButtonLeft {
	left: 30px;
}
#slideButtonRight{
	right: 30px;
}


/* --------------------------------------------------------- */

/* ======= */
/* CONTACT */
/* ======= */

form#contact label {
	display: block;
	text-align: center;
}
form#contact input{
	text-align: center;
	font-family: "Open Sans";
	font-size: 13pt;
	padding-right: 5px;
	width: 99%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	border:1px solid #cc0000;
	background-color: white;
	border-radius:5px;
	margin-bottom: 20px;
}
form#contact input#submit{
	cursor: pointer;
	color: #cc0000;
	background-color: #dddddd;
}
form#contact textarea {
	font-family: "Open Sans";
	font-size: 13pt;
	width: 100%;
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 20px;
	max-width: 100%;
	margin-top: 10px;
	border:1px solid #cc0000;
	border-radius:5px;
	margin-bottom: 20px;
}


/* --------------------------------------------------------- */

/* ====== */
/* FOOTER */
/* ====== */

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #cccccc;
	font-family: "Open Sans";
	color: gray;
	text-align: center;
}
#footer a {
	text-decoration: none;
	color: #cc0000;
}
#footer .separator {
	padding-left: 5px;
	padding-right: 5px;
	color: gray;
}
#footer ul {
	margin: auto;
}
#footer li {
	display: inline;
}

@media all and (max-width: 750px) {
	#footer li {
		display: list-item;
		list-style-type: none;
		margin-right: 40px;

	}
}
