
/* style de la barre horizontal */
#headerBar
{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0px;
	bottom: 0px;
	background-color: #ff432f;
}

/* ajout d'une police pour le logo */
@font-face
{
	font-family: 'FFF_Tusj';
	src: url(media/font/FFF_Tusj.ttf);
}

/* style du logo */
#logo
{
	font-family: FFF_Tusj;
	font-size: 200%;
	color: #e4e4e4;
}

/* style des liens */
a
{
	text-decoration: none;
	color: black;
}
